.stars .star{
    background-image:url('images/star.png');
    background-position:left -2px;
    display:block;
    width:20px;
    height:16px;
    line-height:16px;
    float:left;
    cursor: pointer;
    zoom:1;
	box-shadow:none;
}
/*.star-rating input[type=radio]{ display:none; }*/

.stars .fullStar{
    background-position:left -59px;
}

.stars{
    overflow: hidden; float: left; margin: 3px 0;
}

.stars .tmp_es{
    background-position:left -21px;
}

.stars .tmp_fs{
    background-position:left -40px;
}

#smprtf input[type="submit"]{
	margin: 0px 15px;
padding: 5px 8px;
}

#loginform_rate {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    width: 320px;
    padding: 10px;
    margin: auto;
    bottom: 0;
    height: 320px;
    background: #fff;
    z-index: 1;
	display:none;
	border: 1px solid #333;
}
#loginform_rate.show{ display:block; }